body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000;
}
.button-control {
	width: 100%;
	height: 50px;
}
.button-control input {
	margin: 10px 10px;
	width: 90px;
	height: 30px;
}